// 不支持es6，Date

function splitByC(str) {
    return str.split(',');
}
function splitByS(str) {
    return str.split(' ');
}

function filterPhoneByStar(str) {
    return str.slice(0, 3) + '****' + str.slice(-4)
}

function filterImgUrl(str) {
    var RootUrl = 'http://admin.bianlidian.test01.qcw100.cn';
    return str.indexOf('/') === 0 ? RootUrl + str : str;
}

function filterOrderTitleName(status){
    switch (status) {
        case '1':
            return '待支付'
        case '2':
            return '待配送'
        case '3':
            return '配送中'
        case '4':
            return '已完成'
    }
}

function filterOrderDetailStateName(state) {
    switch (state) {
        case '1':
            return '待付款'
        case '2':
            return '待配送'
        case '3':
            return '配送中'
        case '4':
            return '已完成'
    }
}

module.exports = {
    splitByC: splitByC, // my_coupon 有使用
    splitByS: splitByS,
    filterPhoneByStar: filterPhoneByStar,
    filterImgUrl: filterImgUrl,
    filterOrderTitleName:filterOrderTitleName,
    filterOrderDetailStateName: filterOrderDetailStateName
}